---
title: Unnecessary View Transitions
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="view-transition" content="same-origin"/>
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-okaidia.min.css" integrity="sha512-5HvW0a7ihK3ro2KhwEksDHXgIezsTeZybZDIn8d8Y015Ny+t7QWSIjnlCTjFzlK7Klb604HLGjsNqU/i5mJLjQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{{ '/assets/base.css' | url }}">
    <style>
      {% getBundle "css" %}
    </style>
  </head>
  <body>
    <header>
      <h1>{{ title }}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>Made with ✨ by <a href="https://twitter.com/philnash">philnash</a>. Check out the <a href="https://github.com/philnash/unnecessary-view-transitions">source code on GitHub</a>.</a>
    </p>
  </footer>
</body>
</html>