---
layout: layout.njk
---

<ul class="cards">
  <li>
    <a href="./cross-fade/">Cross fade</a>
  </li>
  <li>
    <a href="./slide-left/">Slide left</a>
  </li>
  <li>
    <a href="./slide-right/">Slide right</a>
  </li>
  <li>
    <a href="./slide-up/">Slide up</a>
  </li>
  <li>
    <a href="./slide-over/">Slide over</a>
  </li>
  <li>
    <a href="./slide-down/">Slide down</a>
  </li>
  <li>
    <a href="./blinds/">Blinds</a>
  </li>
  <li>
    <a href="./wipe/">Wipe</a>
  </li>
  <li>
    <a href="./spiral/">Spiral</a>
  </li>
  <li>
    <a href="./in-circle/">In circle</a>
  </li>
  <li>
    <a href="./scale-in/">Scale in</a>
  </li>
</ul>